.group,
#resize-dummy {
	position: absolute;
	top: 0;
	left: 0;
	width: 450px;
	height: 450px;

	margin: 5px;

	border: #ffffff 1px solid;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.6);

	background-color: rgba( 0, 0, 0, 0.03);
}

.group .header {
	height: 23px;

	position: absolute;
	top: 5px;
	right: 10px;
	left: 10px;
	z-index: 100;

	_border-bottom: #cccccc 1px solid;

	cursor: move;
}

.group .header input {
	width: calc(100% - 80px);
	height: 25px;

	position: absolute;
	top: -3px;

	display: block;

	border: none;

	background: none;

	color: #2a2a2e;
	font-size: 13px;
	font-family: inherit;
	white-space: nowrap;
	text-overflow: '..';
}

.group .header input.edit {
	color: #2a2a2e;
}

.group .header .tab_count {
	padding: 3px 5px 3px 5px;

	position: absolute;
	top: -5px;
	right: 20px;

	background-color: #CCCCCC;

	color: #FFFFFF;
	font-size: 12px;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
}

.group .header .close {
	width: 20px;
	height: 20px;

	position: absolute;
	top: 0;
	right: -5px;

	cursor: pointer;

	background-image: url(/icons/close_gray.svg);
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
}

.group .content {
	position: absolute;
	top: 28px;
	right: 5px;
	left: 5px;
	bottom: 5px;
}

.group .bottom_right {
	width: 20px;
	height: 20px;

	position: absolute;
	bottom: 0;
	right: 0;

	cursor: nwse-resize;

	opacity: .3;
	background: url(/icons/resize.svg) bottom right/50% no-repeat;
}

#pinnedTabs {
	margin: 0 -5px;
	padding: 5px;
	border-top: 1px solid #ccc;
}

#pinnedTabs .tab {
	width: 28px;
	height: 28px;
	position: relative;
	background: #fff;
}

#pinnedTabs .tab .close,
#pinnedTabs .tab .name {
	display: none;
}

#pinnedTabs .tab .inner {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: none !important;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#pinnedTabs .tab .favicon {
	border: 0;
	position: relative;
}

#resize-dummy {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	transition: opacity .05s ease-out;
	z-index: 1000000;
	background: #f1f1f2;
	transform-origin: top left;
}